[defaults]
inventory = ansible/inventory/hosts.yml
roles_path = ansible/roles
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
local_tmp = /tmp/ansible-local
remote_tmp = ~/.ansible/tmp
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
pipelining = True
